<%= form_for(closet_station) do |f| %>
  <div class="field">
    <%= f.label :route %>
    <%= f.text_field :route %>
  </div>
  <div class="field">
    <%= f.label :station %>
    <%= f.text_field :station %>
  </div>
  <div class="field">
    <%= f.label :walk_time %>
    <%= f.number_field :walk_time %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
