<p id="notice"><%= notice %></p>

<h1>Closet Stations</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @closet_stations.each do |closet_station| %>
      <tr>
        <td><%= link_to 'Show', closet_station %></td>
        <td><%= link_to 'Edit', edit_closet_station_path(closet_station) %></td>
        <td><%= link_to 'Destroy', closet_station, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Closet Station', new_closet_station_path %>
